<!DOCTYPE html>
{% load staticsfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Star Social</title>
    
    <!-- BOOTSTRAP LINKS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- MASTER CSS FILE -->
    <link rel="stylesheet" href="{% static 'simplesocial/css/master.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>

    <nav class="navbar mynav" role="navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand mynav" href="{% url 'home' %}">Star Social</a>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="#">Post</a></li>
                <li><a href="#">Groups</a></li>
                <li><a href="#">Creat Group</a></li>
                <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="#">Groups</a></li>
                <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li> 
                  
                {% endif %}

            </ul>

        </div>

    </nav>
    <div class="container mycontent">

            {% block content %}
        
            {% endblock content %}

    </div>

    
    
        
</body>
</html>